<!DOCTYPE html>
<html>
    <head>
        <title>What's on in Amsterdam</title>
        <style>
         body {
             margin-left: 50px; /* Adjust the value as needed */
         }
        </style>
    </head>
    <body>
        <h1>What's on in Amsterdam</h1>
        {{range $date, $concerts := .GroupedConcerts}}
	<h2>{{ $date.Format "2006-01-02" }}</h2>
	<ul>
	    {{range $concerts}}
	    <li>{{ .Date.Format "15:04" }}:
                {{ .Description }}
                (<a href="{{ .Venue.Url }}" target="_blank">{{ .Venue.Name }}</a>)</li>
	    {{end}}
	</ul>
	<br>
	{{end}}
        <br>
        <p>Last updated: {{.CurrentTime.Format "2006-01-02 15:04"}}</p>
    </body>
</html>
